<!doctype html>
<html class="no-js" lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>EggCommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{staticRootPath}}/themes/eggcommerce/assets/img/favicon.ico">
		
		<!-- all css here -->
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/pe-icon-7-stroke.css">
		<link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/lib/css/preview.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/animate.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/bundle.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/style.css">
        <link rel="stylesheet" href="{{staticRootPath}}/themes/eggcommerce/assets/css/responsive.css">
        <script src="{{staticRootPath}}/themes/eggcommerce/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
		{% include "./header.html" %}
        {% block content %}{% endblock %}
		{% include "./footer.html" %}
    </body>

</html>