{% extends "./block/default.html" %} {% block content %}
		<!-- breadcrumbs start -->
		<div class="breadcrumbs-area breadcrumb-bg ptb-100">
		    <div class="container">
		        <div class="breadcrumbs text-center">
                    <h2 class="breadcrumb-title">blog right sidebar</h2>
                    <ul>
                        <li>
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li>blog right sidebar</li>
                    </ul>
                </div>
		    </div>
		</div>
		<!-- breadcrumbs area end -->
		<!-- login area end -->
		<div class="blog-sidebar-area blog-rt-sidebar ptb-100">
		    <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="blog-wrapper">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/1.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/2.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/3.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/4.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/5.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/6.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/1.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-details mb-30">
                                        <div class="blog-img">
                                            <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/2.jpg" alt=""></a>
                                            <div class="blog-quick-view">
                                                <a href="blog-details.html">
                                                    <i class="pe-7s-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="blog-meta">
                                            <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                            <ul class="meta">
                                                <li>
                                                    By
                                                    <a href="#">admin</a>
                                                </li>
                                                <li>25 june 2018</li>
                                            </ul>
                                            <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                            <a href="blog-details.html">read more <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-pagination text-center">
                                <ul>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>
    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="blog-sidebar mrg-for-sm-top">
                            <div class="single-sidebar blog-search-deff">
                                <h3 class="sidebar-title">Search</h3>
                                <form action="#">
                                    <input value="" placeholder="Search" type="text">
                                    <button class="blog-submit" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="single-sidebar">
                                <h3 class="sidebar-title">Category</h3>
                                <div class="sidebar-list">
                                    <ul>
                                        <li><input type="checkbox"> <a href="#">Dresses (7)</a></li>
                                        <li><input type="checkbox"> <a href="#">Accessories (9)</a></li>
                                        <li><input type="checkbox"> <a href="#">Tops (3)</a></li>
                                        <li><input type="checkbox"> <a href="#">Handbags (1)</a></li>
                                        <li><input type="checkbox"> <a href="#">Watches (7)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <h3 class="sidebar-title">Recent Posts</h3>
                                <div class="recent-all">
                                    <div class="recent-img-text mb-20">
                                        <div class="recent-img">
                                            <a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/s1.jpg" alt=""></a>
                                        </div>
                                        <div class="recent-text">
                                            <h4>
                                                <a href="#">Simple post title</a>
                                            </h4>
                                            <div class="post-info">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>
                                                        june 26, 2016
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recent-img-text mb-20">
                                        <div class="recent-img">
                                            <a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/s2.jpg" alt=""></a>
                                        </div>
                                        <div class="recent-text">
                                            <h4>
                                                <a href="#">Simple post title</a>
                                            </h4>
                                            <div class="post-info">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>
                                                        june 26, 2016
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="recent-img-text">
                                        <div class="recent-img">
                                            <a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/s3.jpg" alt=""></a>
                                        </div>
                                        <div class="recent-text">
                                            <h4>
                                                <a href="#">Simple post title</a>
                                            </h4>
                                            <div class="post-info">
                                                <ul>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>
                                                        june 26, 2016
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <h3 class="sidebar-title">Our Brand</h3>
                                <div class="sidebar-list">
                                    <ul>
                                        <li><input type="checkbox"> <a href="#">Nike (8)</a></li>
                                        <li><input type="checkbox"> <a href="#">Religion (2)</a></li>
                                        <li><input type="checkbox"> <a href="#">Diesel (5)</a></li>
                                        <li><input type="checkbox"> <a href="#">Monki (8)</a></li>
                                        <li><input type="checkbox"> <a href="#">iaan (7)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <h3 class="sidebar-title">Popular Tags</h3>
                                <div class="tag">
                                    <ul>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">accessories</a></li>
                                        <li><a href="#">fashion</a></li>
                                        <li><a href="#">footwear</a></li>
                                        <li><a href="#">kid</a></li>
                                        <li><a href="#">View All Tags</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-sidebar">
                                <div class="sidebar-img-text">
                                    <div class="sidebar-img">
                                        <a href="#">
                                            <img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/2.jpg" alt="">
                                        </a>
                                        <div class="sidebar-text">
                                            <h3>save up to </h3>
                                            <h2>40% off</h2>
                                            <h3>cap</h3>
                                            <a href="#">shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!-- login area end -->
{% endblock %}
