{% extends "./block/default.html" %} {% block content %}
		<!-- slider start -->
		<div class="slider-area">
			<div class="bend niceties preview-2">
				<div id="ensign-nivoslider" class="slides">	
					<img src="{{staticRootPath}}/themes/eggcommerce/assets/img/slider/1.jpg" alt="" title="#slider-direction-1"  />
					<img src="{{staticRootPath}}/themes/eggcommerce/assets/img/slider/2.jpg" alt="" title="#slider-direction-2"  />
				</div>
				<!-- direction 1 -->
				<div id="slider-direction-1" class="t-cn slider-direction">
				    <div class="container">
				        <div class="slider-content t-lfl s-tb slider-1">
                            <div class="title-container s-tb-c title-compress">
                                <h1 class="title1">amazing Collections</h1>
                                <h3 class="title2">save up to 40% off</h3>
                                <a class="button-hover" href="#">shop now</a>
                            </div>
                        </div>
				    </div>
				</div>
				<!-- direction 2 -->
				<div id="slider-direction-2" class="slider-direction">
					<div class="container">
					    <div class="slider-content s-tb slider-2">
                            <div class="title-container s-tb-c">
                                <h1 class="title4">awesome fashion 2018</h1>
                                <h3 class="title3">new arrivals collection</h3>
                                <a class="button-hover" href="#">shop now</a>
                            </div>
                        </div>	
					</div>
				</div>
			</div>
		</div>
		<!-- slider end -->
		<!-- service area start  -->
		<div class="service-area pt-100">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4 col-sm-4">
		                <div class="single-service addm">
                            <div class="service-icon">
                                <i class="pe-7s-plane"></i>
                            </div>
                            <div class="service-text">
                                <h3>FREE SHIIPPING</h3>
                                <p>Guaranteed delivery in 4 days</p>
                            </div>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-4">
                        <div class="single-service addm">
                            <div class="service-icon">
                                <i class="pe-7s-back"></i>
                            </div>
                            <div class="service-text">
                                <h3>100% Monye back</h3>
                                <p>Send within 30 days</p>
                            </div>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-4">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="pe-7s-headphones"></i>
                            </div>
                            <div class="service-text">
                                <h3>online support</h3>
                                <p>Call us 24/7 at 070-7782-9137</p>
                            </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- service area end -->
		<!-- shop area start -->
		<div class="portfolio-area ptb-100">
			<div class="container">
			    <div class="section-title text-center mb-50">
                    <h2>Featured Collections <i class="fa fa-shopping-cart"></i></h2>
                </div>
				<div class="shop-menu portfolio-left-menu text-center mb-50">
					<button class="active" data-filter="*">ALL</button>
					<button data-filter=".mix1">Dresses </button>
					<button data-filter=".mix2">Bags</button>
					<button data-filter=".mix3">Jewelry </button>
					<button data-filter=".mix4">Shoes </button>
				</div>			
				<div class="row portfolio-style-2">
					<div class="grid">
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix1 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/1.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="price-up-down">
                                        <span class="sale-new">sale</span>
                                    </div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Tops</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$120.00</span>
                                        </div>
                                    </div>
                                </div>									
							</div>
						</div>					
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix2 mix3 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/2.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Handbag</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$150.00</span>
                                        </div>
                                    </div>
                                </div>										
							</div>						
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix1 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/3.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="price-up-down">
                                        <span class="sale-new">-30%</span>
                                    </div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Perfume</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$180.00</span>
                                        </div>
                                    </div>
                                </div>										
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix2 mix4 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/4.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Shirt</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$220.00</span>
                                        </div>
                                    </div>
                                </div>									
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix1 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/5.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Handbag</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$430.00</span>
                                        </div>
                                    </div>
                                </div>									
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix3 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/6.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="price-up-down">
                                        <span class="sale-new">new</span>
                                    </div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">T-Shirt</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$230.00</span>
                                        </div>
                                    </div>
                                </div>									
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix2 mix3 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/7.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Watch</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$650.00</span>
                                        </div>
                                    </div>
                                </div>										
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 grid-item mix1 mix4 mb-50">
							<div class="single-shop">
								<div class="shop-img">
									<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/8.jpg" alt="" /></a>
									<div class="shop-quick-view">
									    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
									</div>
                                    <div class="price-up-down">
                                        <span class="sale-new">-50%</span>
                                    </div>
                                    <div class="button-group">
                                        <a href="#" title="Add to Cart">
                                            <i class="pe-7s-cart"></i>
                                            add to cart
                                        </a>
                                        <a class="wishlist" href="#" title="Wishlist">
                                            <i class="pe-7s-like"></i>
                                            Wishlist
                                        </a>
                                    </div>
								</div>
								<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Bag</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$120.00</span>
                                        </div>
                                    </div>
                                </div>										
							</div>
						</div>
					</div>		
				</div>
				<div class="text-center">
					<a class="hvr-shutter-out-horizontal" href="shop-page.html">view more <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
		<!-- shop area end -->
		<!-- subscribe area start -->
		<div class="offer-area shop-text bg-opacity-black-90">
		    <div class="container">
                <div class="subscribe-bg ptb-80">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 ">
                            <div class="offer-text text-center">
                                <h3>unlimited offer</h3>
                                <div class="text-center">
									<a class="hvr-shutter-out-horizontal" href="shop-page.html">shop now <i class="fa fa-angle-double-right"></i></a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!-- subscribe area end -->
		<!-- special-offer area start -->
		<div class="special-offer ptb-100">
		    <div class="container">
		        <div class="section-title text-center mb-50">
                    <h2>New Collections <i class="fa fa-shopping-cart"></i></h2>
                </div>
                <div class="row">
                    <div class="special-slider-active owl-carousel">
                        <div class="single-special-slider">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="single-shop">
									<div class="shop-img">
										<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/1.jpg" alt="" /></a>
										<div class="shop-quick-view">
										    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
	                                            <i class="pe-7s-look"></i>
	                                        </a>
										</div>
	                                    <div class="price-up-down">
	                                        <span class="sale-new">sale</span>
	                                    </div>
	                                    <div class="button-group">
	                                        <a href="#" title="Add to Cart">
	                                            <i class="pe-7s-cart"></i>
	                                            add to cart
	                                        </a>
	                                        <a class="wishlist" href="#" title="Wishlist">
	                                            <i class="pe-7s-like"></i>
	                                            Wishlist
	                                        </a>
	                                    </div>
									</div>
									<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Tops</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$120.00</span>
                                        </div>
                                    </div>
                                </div>										
								</div>
                            </div>
                        </div>
                        <div class="single-special-slider">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="single-shop">
									<div class="shop-img">
										<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/2.jpg" alt="" /></a>
										<div class="shop-quick-view">
										    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
	                                            <i class="pe-7s-look"></i>
	                                        </a>
										</div>
	                                    <div class="price-up-down">
	                                        <span class="sale-new">sale</span>
	                                    </div>
	                                    <div class="button-group">
	                                        <a href="#" title="Add to Cart">
	                                            <i class="pe-7s-cart"></i>
	                                            add to cart
	                                        </a>
	                                        <a class="wishlist" href="#" title="Wishlist">
	                                            <i class="pe-7s-like"></i>
	                                            Wishlist
	                                        </a>
	                                    </div>
									</div>
									<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Handbag</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$670.00</span>
                                        </div>
                                    </div>
                                </div>										
								</div>
                            </div>
                        </div>
                        <div class="single-special-slider">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="single-shop">
									<div class="shop-img">
										<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/3.jpg" alt="" /></a>
										<div class="shop-quick-view">
										    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
	                                            <i class="pe-7s-look"></i>
	                                        </a>
										</div>
	                                    <div class="price-up-down">
	                                        <span class="sale-new">sale</span>
	                                    </div>
	                                    <div class="button-group">
	                                        <a href="#" title="Add to Cart">
	                                            <i class="pe-7s-cart"></i>
	                                            add to cart
	                                        </a>
	                                        <a class="wishlist" href="#" title="Wishlist">
	                                            <i class="pe-7s-like"></i>
	                                            Wishlist
	                                        </a>
	                                    </div>
									</div>
									<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Perfume</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$340.00</span>
                                        </div>
                                    </div>
                                </div>										
								</div>
                            </div>
                        </div>
                        <div class="single-special-slider">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="single-shop">
									<div class="shop-img">
										<a href="#"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/shop/equal/4.jpg" alt="" /></a>
										<div class="shop-quick-view">
										    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View">
	                                            <i class="pe-7s-look"></i>
	                                        </a>
										</div>
	                                    <div class="price-up-down">
	                                        <span class="sale-new">sale</span>
	                                    </div>
	                                    <div class="button-group">
	                                        <a href="#" title="Add to Cart">
	                                            <i class="pe-7s-cart"></i>
	                                            add to cart
	                                        </a>
	                                        <a class="wishlist" href="#" title="Wishlist">
	                                            <i class="pe-7s-like"></i>
	                                            Wishlist
	                                        </a>
	                                    </div>
									</div>
									<div class="shop-text-all">
                                    <div class="title-color fix">
                                        <div class="shop-title f-left">
                                            <h3><a href="#">Shirt</a></h3>
                                        </div>
                                        <div class="price f-right">
                                            <span class="new">$230.00</span>
                                        </div>
                                    </div>
                                </div>										
								</div>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!-- special-offer area end -->
		<!-- blog area start -->
		<div class="blog-area pb-70">
		    <div class="container">
                <div class="section-title text-center mb-50">
                    <h2>latest news <i class="fa fa-pencil"></i></h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-details mb-30">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/1.jpg" alt=""></a>
                                <div class="blog-quick-view">
                                    <a href="blog-details.html">
                                        <i class="pe-7s-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-meta">
                                <h4><a href="blog-details.html">Kid’s Fashion 2018</a></h4>
                                <ul class="meta">
                                    <li>
                                        By
                                        <a href="#">admin</a>
                                    </li>
                                    <li>25 june 2018</li>
                                </ul>
                                <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-details mb-30">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/2.jpg" alt=""></a>
                                <div class="blog-quick-view">
                                    <a href="blog-details.html">
                                        <i class="pe-7s-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-meta">
                                <h4><a href="blog-details.html">Women’s Fashion 2018</a></h4>
                                <ul class="meta">
                                    <li>
                                        By
                                        <a href="#">admin</a>
                                    </li>
                                    <li>25 june 2018</li>
                                </ul>
                                <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm">
                        <div class="blog-details mb-30">
                            <div class="blog-img">
                                <a href="blog-details.html"><img src="{{staticRootPath}}/themes/eggcommerce/assets/img/blog/3.jpg" alt=""></a>
                                <div class="blog-quick-view">
                                    <a href="blog-details.html">
                                        <i class="pe-7s-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-meta">
                                <h4><a href="blog-details.html">man’s Fashion 2018</a></h4>
                                <ul class="meta">
                                    <li>
                                        By
                                        <a href="#">admin</a>
                                    </li>
                                    <li>25 june 2018</li>
                                </ul>
                                <p>Lorem Ipsum is that it has a more-or-less normal  of letters, as opposed to using 'Content here, distribution content here..</p>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!-- blog area end -->
{% endblock %}